<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skeleton.location">

    <application>
        <activity android:name="com.skeleton.location.ui.activity.ConsentDetailsActivity">
        </activity>
    </application>

</manifest>
